@model LojaVirtualV2.Models.Produto


<h1>Produto -> Visualizar</h1>
    :)

    Razor :

    Todos os direitos reservados &copy; @DateTime.Now.Year

    @{
        string nome = "Gabriel trabalhando";
    }
    </br>
    <h1>@nome</h1>
    </br>
    <h2>Produto: </h2>
    <b>Código: </b> @Model.Id
    <b>Nome: </b> @Model.Nome
    <b>Descrição: </b> @Model.Descricao
    <b>Valor: </b> @Model.Valor.ToString("C")

